<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for i in category %}
        <a href="/food/{{ i.pk }}" >{{ i.category}} </a>
    {% endfor %}

    <br><br><br>

    {% for i in products %}
        name: {{ i.name }} / info: {{i.name }} / category {{ i.category}}<br>
    {% endfor %}

    <br><br><br>

   {% for i in products %}
        name: {{ i.name }} / info: {{i.name }} / genre {{ i.genre}}<br>
    {% endfor %}
</body>
</html>